@charset "utf-8";

/* Web Font Load */
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

/* Type Selector Reset */

.container_postbtn {
    display: none;
}

body {
	-webkit-text-size-adjust: 100%;
	font-weight: 400;
	font-family: 'NanumSquare', sans-serif !important;
	font-size: 1em;
}
html, body {
	width: 100%;
	height: 100%;
	min-width: 320px;
  	max-width: 1920px;
	margin: 0 auto;
	padding: 0;
	font-size: 100%;
	background-color: #ddd;
}
html {
	scroll-behavior: smooth;
  }
button {
    overflow: visible;
    margin: 0;
    padding: 0;
    border: 0;
	background: transparent;
	cursor: pointer;
}
#header .mobile-menu {
	display: none;
}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, figure {
	margin: 0;
	padding: 0;
}
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {
	background-color: #fff;
	display: block;
}

ul li {
	list-style: none;
}
img, fieldset {
	border: none;
	vertical-align: top;
}

#content .inner {
	margin: 0 auto;
}

#footer {
	padding:50px 20px;
	color: #000;
}

.footer_container {
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
}
.footer_logo img {
	height: 60px;
	margin-bottom: 20px;
}
.footer_info {
	line-height: 1.5;
}
.footer_info .copy {
	color: #999;
}

/* Add */
#wrap {
	position: relative;
}

#header {
	position: absolute;
	display: inline-block;
	background-color: transparent;
	width: 100%;
	height: 80px;
	z-index: 100;
}
#header .logo {
	padding: 15px 0 0 10px;
	float: left;
}
#header .logo img {
	height: 50px;
}
#header .inner {
	max-width: 1200px;
	margin: 0 auto;
}
#gnb  {
	float: right;
	background-color: transparent;
}
#gnb .main_ul li {
	float: left;
	width: 150px;
}
#gnb .main_ul > li > a {
	display: block;
	position: relative;
	text-align: center;
	padding: 25px;
	text-decoration: none;
	font-weight: 800;
	font-size: 1.2em;
	line-height: 30px;
	color: #fff;
}
#gnb .main_ul > li:hover a:after {
    width: 150px;
    margin-left: 0;
}
#gnb .main_ul > li > a:after {
    position: absolute;
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 0px;
    height: 5px;
    background-color: #00b000;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
#gnb .sub_ul {
	display: none;
    height: 100%;
	background-color: #00b000;
}
#gnb .sub_ul li {
	float: none;
	width: 150px;
	border-bottom: 1px solid rgba(255,255,255,0.5);
}
#gnb .sub_ul li:last-child{
	border-bottom: none;
}
#gnb .sub_ul > li > a {
	display: block;
	position: relative;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	color: #fff;
	letter-spacing: 2px;
}
#gnb .main_ul > li:hover > a {
	color: #00b000;
	transition: .3s;
}
#gnb .sub_ul > li:hover {
	background-color: #00b000;
	transition: .3s;
}

#gnb .main_ul li:hover ul {
	display: block;
}

.main_cover {
	position: relative;
	height: 800px;
	z-index: 0;
}
.main_cover img {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    height: 100%;
    width: 100% !important;
    z-index: 0;
}
.main_cover .image_cover_dark {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background-color: #000;
	opacity: 0.5;
}
.main_cover .slogan {
	position: absolute;
	text-align: center;
	width: 100%;
	top: 300px;
	color: #fff;
}
.main_cover .slogan .box {
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
    padding: 0 20px;
}
.main_cover .slogan .box h1 {
	font-size: 3.5em;
	font-weight: 800;
}
.main_cover .slogan .box h2 {
	font-size: 2.5em;
	margin-top: 10px;
	font-weight: 800;
}
.main_cover .slogan .box p {
	font-size: 1.5em;
	margin-top: 30px;
	line-height: 1.5;
}
.button {
	margin-top: 40px;
}
.button a {
    display: block;
    border: 1px solid #fff;
	width: 250px;
    height: 60px;
    font-size: 1.2em;
    font-weight: 400;
    text-align: center;
	text-decoration: none;
    line-height: 60px;
    color: #fff;
}
.button a:hover {
	background-color: #005abc;
	transition: .3s;
}
.slick_main .item {
	height: 800px;
	background-size: cover;
	background-position: center;
}
.slick-dots {
	bottom: 50px;
}
.slick-dots li.slick-active button:before {
    color: #fff;
}
.slick-dots li button:before {
    color: #fff;
}

/* content_box */
.content_box {
	margin: 50px auto;
}
.content_box.limit {
	display: flow-root;
	max-width: 1200px;
	padding: 0 20px;
}
.content_box.bottom {
	margin-bottom: 0;
}
.content_box.top {
	margin-top: 0;
}

.content_box .title {
	margin: 50px auto;
	text-align: center;
}
.content_box .title h1 {
	font-size: 3em;
	font-weight: 800;
}
.content_box .title p {
	font-size: 1.5em;
	font-weight: 800;
	color: #999;
	margin-top: 10px;
}
.content_box .cb1_list {
	font-size: 0;
	width: 100%;
}
.content_box .cb1_list li {
	background-size: cover;
	background-position: center;
	display: inline-block;
	position: relative;
	height: 350px;
	font-size: 1rem;
	width: 42%;
	margin: 3% 0 0 3%;
}
.content_box .cb1_list li:last-child,
.content_box .cb1_list li:first-child {
	width: 55%;
}
.content_box .cb1_list li:nth-child(odd) {
	margin-left: 0;
}
.content_box .cb1_list li:nth-child(-n+2) {
	margin-top: 0;
}
.content_box .cb1_list li a {
	display: block;
	height: 100%;
	color: #fff;
	text-decoration: none;
}
.content_box .cb1_list li .text {
	position: absolute;
	box-sizing: border-box;
	bottom: 0;
	width: 100%;
    height: 100%;
	padding: 20px;
}
.content_box .cb1_list li .text h1 {
	font-size: 2em;
    font-weight: 800;
}
.content_box .cb1_list li .text p {
	font-size: 1.5em;
	font-weight: 400;
	margin: 10px 0;
}
.content_box .cb1_list li .text .more {
	display: none;
	position: absolute;
	color: #fff;
	font-size: 1em;
	font-weight: 400;
	bottom: 20px;
	text-decoration: underline;
}
.content_box .cb1_list li .text:hover {
    background-color: rgba(0,0,0,.5);
	transition: .3s;
	color: #fff;
}
.content_box .cb1_list li .text:hover .more,
.content_box .cb1_list li .text:hover .hide {
	display: block;
}
.content_box .cb2_list {
	width: 100%;
	font-size: 0;
}
.content_box .cb2_list ul {
	z-index: 10;
}
.content_box .cb2_list li {
	position: relative;
	display: inline-block;
	overflow: hidden;
	font-size: 1rem;
	width: 32%;
	margin-left: 2%;
	height: 400px;
	background-size: cover;
	z-index: 10;
}
.content_box .cb2_list li:hover {
	cursor: pointer;
}
.content_box .cb2_list li:first-child {
	margin-left: 0;
}
.content_box .cb2_list li a {
	height: 100%;
}
.content_box .cb2_list li:hover .text {
	bottom: -100px !important;
}
.content_box .cb2_list li:hover .image_cover_dark {
	bottom: 0;
	/* opacity: 0.6;
	transition: opacity .5s; */
}
.content_box .cb2_list .image_cover_dark {
	bottom: -400px;
	width: 100%;
	height: 400px;
	background: rgba(0, 176, 0,.9);
	position: absolute;
	transition: all .5s ease;
	color: #fff;
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content_box .cb2_list .image_cover_dark i {
	font-size: 5em;
	font-weight: 400;
	margin-bottom: 20px;
}
.content_box .cb2_list .image_cover_dark h1 {
	font-size: 1.5em;
	font-weight: 800;
}
.content_box .cb2_list .image_cover_dark p {
	font-size: 1.2em;
}
.content_box .cb2_list .image_cover_dark .more {
	font-size: 1em;
	text-decoration: underline;
	margin-top: 20px;
}
.content_box .cb2_list .text {
	width: 100%;
    height: 100px;
    background: rgba(0, 176, 0,.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
	bottom: 0;
	color: #fff;
	transition: all .5s ease;
}
.content_box .cb2_list .text h1 {
	font-size: 1.5em;
	font-weight: 800;
}
.content_box .cb2_list .text p {
	font-size: 1.2em;
}

.content_box .cb3_background {
	width: 100%;
	height: 600px;
    left: 0;
    bottom: 0;
    background: url(images/bg_img1.jpg) 50% 50% no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.content_box .cb3_background .image_cover_dark {
	position: absolute;
	width: 100%;
	height: 600px;
	background-color: #000;
	opacity: 0.5;
}
.content_box .cb3_background .cb3_contact {
	position: relative;
	padding-top: 80px;
	font-size: 0;
}
.content_box .cb3_background .title {
	font-size: 1rem;
	color: #fff;
}

.content_box .cb3_background ul li {
	font-size: 1rem;
	display: inline-block;
	vertical-align: top;
	width: 33%;
	padding: 0 2%;
	box-sizing: border-box;
	border-right: 1px solid rgba(255,255,255,0.5);
	text-align: center;
	color: #fff;

}
.content_box .cb3_background ul li:last-child {
	border-right: 0;
}
.content_box .cb3_background ul li i {
	font-size: 4em;
}
.content_box .cb3_background ul li h2 {
	margin-top: 20px;
}
.top_button {
	position: fixed;
	width: 40px;
	height: 40px;
	bottom: 20px;
	right: 20px;
	border: 2px solid #fff;
	box-sizing: border-box;
	z-index: 100;
	background-color: #00b000;
	
}
.top_button a {
	padding-left: 7px;
	font-size: 35px;
	color: #fff;
	position: absolute;
	text-decoration: none;
	height: 100%;
	width: 100%;
}

/* Media Screen - Tablet */
@media screen and (max-width:1199px) {
	
}

@media screen and (max-width:1023px) {
	html {
		font-size: 0.8em;
	}
	#header {
		height: 60px;
	}
	#header .logo img {
		height: 40px;
	}
	#header .mobile-menu {
		display: block;
		position: absolute;
		top: 50%;
		right: 20px;
		width: 50px;
		height: 50px;
		margin-top: -25px;
		text-indent: -999em;
		outline: none;
	}
	#header .mobile-menu span,
	#header .mobile-menu:before,
	#header .mobile-menu:after {
		position: absolute;
		top: 50%;
		left:50%;
		width: 25px;
		height: 2px;
		margin-left: -12px;
		background-color: #fff;
		-webkit-transition: -webkit-transform .3s;
		transition: transform .3s;
	}
	#header .mobile-menu span {
		top: 50%;
		margin-top: -1px;
	}
	#header .mobile-menu:before {
		content: "";
		margin-top: -10px;
	}
	#header .mobile-menu:after {
		content: "";
		margin-top: 8px;
	}
	#header .mobile-menu.on {
		position: fixed;
		top: 10px;
		margin-top: 0;
		z-index: 610;
		outline: none;
		
	}
	#header .mobile-menu.on span {
		display: none;
	}
	#header .mobile-menu.on:before {
		margin-top: -1px;
		background-color: #fff;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	#header .mobile-menu.on:after {
		margin-top: -1px;
		background-color: #fff;
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

	#gnb {
		position: fixed;
		top: 0;
		right: -300px;
		z-index: 600;
		width: 300px;
		height: 100%;
		padding-top: 60px;
		background-color: #00b000;
		box-sizing: border-box;
		-webkit-transition: right .3s;
		transition: right .3s;
	}
	#gnb.on {
		right: 0;
	}
	#gnb .main_ul {
		overflow-y: auto;
		height: 100%;
	}
	#gnb .main_ul li {
		width: 100%;
		border-bottom: 1px solid rgba(255,255,255,0.5);
	}
	#gnb .main_ul li:first-child {
		border-top: 1px solid rgba(255,255,255,0.5);
	}
	#gnb .main_ul > li > a {
		padding: 20px 20px 15px;
		text-align: left;
		color: #fff;
	}
	#gnb .main_ul > li:hover > a {
		color: #fff;
	}
	#gnb .sub_ul > li > a {
		text-align: left;
		padding: 15px 20px 15px 40px;
		text-decoration: none;
		color: #fff;
		letter-spacing: 2px;
	}
	#gnb .sub_ul {
		display: block;
		background-color: unset;
	}
	#gnb .main_ul > li > a:after {
		display: none;
	}
	#gnb .sub_ul li {
		border-bottom: none;
	}
	#gnb .sub_ul li:first-child {
		border-top: none;
	}

	.main_cover {
		height: 500px;
	}
	.slick_main .item {
		height: 500px;
	}
	.main_cover .slogan {
		top: 130px;
		text-align: center;
	}
	.main_cover .slogan .button {
		/* margin-top: 40px; */
		margin: 40px auto;
		display: inline-block;
	}
	.main_cover .slogan .paging_box {
		display: none;
	}
	.content_box .cb1_img {
		height: 350px;
	}
	.content_box .cb1_text {
		padding: 20px 0 0 20px;
	}
	.content_box .cb1_img .square1 {
		height: 175px;
	}
	.content_box .cb1_img .square2 {
		height: 40px;
		width: 600px;
		bottom: -40px;
	}
	.content_box .cb1_img .square3 {
		height: 175px;
		width: 30px;
		right: -15px;
		top: 90px;
	}
	.content_box .cb2_list li {
		height: 350px;
	}
	.content_box .cb2_list .image_cover_dark {
		height: 350px;
	}

	.content_box .cb3_background,
	.content_box .cb3_background .image_cover_dark {
		height: 500px;
	}
	.content_box .cb3_background .cb3_contact {
		padding-top: 40px;
	}
}

/* Media Screen - Mobile */
@media screen and (max-width:767px) {
	#header .logo img {
		height: 40px;
	}
	.main_cover {
		height: 500px;
	}
	.main_cover .slogan {
		text-align: center;
		top: 150px;
	}
	.main_cover .slogan .box h1 {
		font-size: 3em;
	}
	.main_cover .slogan .box h2 {
		font-size: 2em;
	}
	.main_cover .slogan .box p {
		margin-top: 30px;
		line-height: 1.5;
		font-size: 1.3em;
	}

	.content_box .title {
		margin: 20px auto;
	}
	.content_box .title h1 {
		font-size: 2em;
	}
	.content_box .cb1_list li {
		width: 100%;
		height: 200px;
		margin-left: 0;
		margin-top: 20px;
	}
	.content_box .cb1_list li:nth-child(-n+2) {
		margin-top: 20px;
	}
	.content_box .cb1_list li:last-child,
	.content_box .cb1_list li:first-child {
		width: 100%;
	}
	.content_box .cb2_list li {
		width: 100%;
		height: 300px;
		margin-left: 0;
		margin-top: 20px;
	}
	.content_box .cb2_list .text {
		height: 100px;
	}
	.content_box .cb3_background .title {
		width: 100%;
		display: inline-block;
		vertical-align: top;
		color: #fff;
	}
	.content_box .cb3_background .title h1 {
		text-align: center;
	}
	.content_box .cb3_background ul {
		width: 100%;
	}
	.content_box .cb3_background ul li {
		display: inline-block;
		width: calc(50% - 5px);
		padding: 20px;
		margin: 10px 10px 0 0;
		border: 1px solid rgba(255,255,255,0.5);
	}
	.content_box .cb3_background ul li:first-child {
		width: 100%;
		margin-right: 0;
	}
	.content_box .cb3_background ul li:last-child {
		border-right: 1px solid rgba(255,255,255,0.5);
		margin-right: 0;
	}
	.content_box .cb3_background ul li i {
		font-size: 3em;
		margin-bottom: 10px;
	}
	.content_box .cb3_background ul li h2 {
		font-size: 1.3em;
		margin-top: 5px;
	}

}

@media screen and (max-width:480px) {

}

@media screen and (max-width:360px) {
	
}
